:root {
  --bg: #0f0c08;
  --surface: #1b140b;
  --text: #f5f2e8;
  --muted: #8e8068;
  --border: #3a2a16;
  --accent: #cf9d42;
  --accent-2: #d1a44e;
  --accent-3: #bb7720;
  --accent-4: #71714a;
  --accent-5: #462d0b;
}
* {
  box-sizing: content-box;
}
@keyframes iconFloat {
  0% {
    top: 20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background: var(--bg);
  color: var(--text);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.class-img {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-img img {
  position: relative;
  animation: iconFloat 5s infinite ease-in-out;
}

.class-desc {
  width: 500px;
  height: 100px;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  background-color: var(--accent-4);
  border-radius: 0.5rem;
  border-left: 10px solid var(--accent);
  border-right: 10px solid var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-desc p {
  margin: 0;
  padding: 5px;
}

.class-desc p:active {
  animation: fadein 0.3s ease-in infinite;
}

.class-select {
  margin-top: 0.5rem;
  width: 500px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.class-select a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  background-color: var(--accent-4);
  color: var(--text);
  width: 50%;
  height: 70%;
  border-radius: 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out, border-radius 0.5s ease-in-out,
    width 0.3s ease-in-out;
  font-weight: bold;
  box-shadow: 5px 5px var(--accent-3);
}

.class-select a:hover,
.class-select a.selected {
  background-color: var(--accent-2);
  color: var(--bg);
  cursor: pointer;
  box-shadow: 5px 5px var(--accent-4);
  border-radius: 0.2rem;
  width: 60%;
  height: 80%;
}

.class-select a:active {
  background-color: var(--accent-3);
  transition: none;
}
